.profit-list {
  color: #ffffff;
  padding: 12px;
  &__profit-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
  }
  &__price-amount {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(180deg, #1c1e2b 0%, #161822 100%);
    box-shadow: 0 4px 6px rgba(8, 9, 13, 0.25), 0 1px 4px rgba(8, 9, 13, 0.08),
      0 1px 1px rgba(8, 9, 13, 0.24);
    border-radius: 32px;
    padding: 8px;
  }
  &__price-block {
    display: flex;
    align-items: center;
    padding: 0 16px;
  }
  &__price {
    display: flex;
    padding: 0 16px;
    font-size: 12px;
  }
  &__amount {
    display: flex;
    justify-content: center;
    padding: 0 16px;
    font-size: 12px;
  }
  &__del {
    padding: 0 0 0 8px;
  }
}
