.input-price-block {
  display: flex;
  flex-direction: row;
  height: 48px;
  color: #ffffff;
  justify-content: space-between;
  padding: 12px 16px;
  &__add-price-btn {
    padding: 0;
  }
  .form {
    background-color: #303243;
    border-radius: 8px;
    height: 48px;
    width: 295px;
    &__label {
      color: #818C99;
      margin-left: 36px;
      margin-top: -5px;
      font-size: 12px;
    }
    &__input {
      color: #ffffff;
      padding: 0;
      margin-top: 10px;
      font-size: 17px;
    }
    &__adornment {
      padding: 0 8px;
    }
    &__button {
      padding: 0 8px;
    }
  }
}